@import "tailwindcss";

body, html {
    background-image: url("../src/assets/business-concept-with-graphic-holography.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}